#test {
  color: gray;
}

html{
  min-height: 100%;
  min-width: 100%;
}

body{
  display: flex;
  justify-content: center;

  min-height: 100%;
  min-width: 100%;
}

.wrapper{
  min-width: 60%;
  min-height: 100%;
  /* padding: 10rem 50rem; */
  margin: 0.375rem;
}


.header{
  //display: flex;
  //justify-content: center;
  //border-left: 1px solid black;

  //font-family: helvetica;
  font-size: 32px
  margin: 0px;

  border-bottom: 2px solid black;
  padding-bottom: 7.5px;
}

.header-title{
  //display: flex;
  width: 100%;
  //justify-content: center;
  font-size: 32px;
  border-bottom: 2px solid black;
  margin: 0px;
}

.header-buttons{
  margin: 3px 0px;
  padding: 0px;
}
/* закончился хедер */

.button{
  border: 2px solid black;
  border-radius: 0px;
  background-color: white;

  padding: 4px 8.5px;
  //background-color: #00e536;
}

.active-btn{
  background-color: #00e536;
}

.grid-container{
  margin-top: 11px;

  display: grid;
  grid-template-columns: 65% 35%;

}

.grid-item{

  padding: 0.4rem 0rem;
  text-align: center;

  border: 1px solid black;
}


















.hide{
  display: none;
}
